
@{
    ViewBag.Title = "Homepage";
}

<h2 style="text-align:center">Patient Homepage</h2>
<br>
<h3 style="text-align:center">Welcome @Session["UserName"]</h3>
<br>
<br>
<h3>@Html.ActionLink("Make an Appointment", "PatientIndex", "Appointments1")</h3>
<br><br>
<h3>@Html.ActionLink("View Your Current Apointment", "ViewAppointment", "Appointments1")</h3>
<br><br>
<h3>@Html.ActionLink("View Previous Consultations", "PatientHistory", "Consultations")</h3>


